* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-viewport {
    width: 100vw;
    height: 100vh;
    
}

body {
    font-family: 'Montserrat', sans-serif;
}

.central-section {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
    width: 100%
}




header {
   display: flex;
   background-color: #000000;
}

header .nav-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}

header .nav-left .nav-left-top .logo img {
    height: 48px;
}

header .nav-left .nav-left-top .nav-left-home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px; 
}

header .nav-left .nav-left-top .nav-left-home a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
}

header .nav-left .nav-left-top .nav-left-home a:hover {
    opacity: 1;
} 

header .nav-left .nav-left-top .nav-left-home img {
    height: 25px;
}

header .nav-left .nav-left-top .home {
    display: flex;
    gap: 8px;
}

header .nav-left .nav-left-top .cerca {
    display: flex;
    gap: 8px;
}

header .nav-left .nav-left-top .libreria {
    display: flex;
    gap: 8px;
}

header .nav-left .nav-left-top .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header .nav-left .nav-left-top .links .playlist ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header .nav-left .nav-left-top .links ul li {
    list-style-type: none;
}

header .nav-left .nav-left-top .links ul li .fa-square-plus {
    font-size: 2em;
}

header .nav-left .nav-left-top .links .playlist ul li a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
}

header .nav-left .nav-left-top .links .playlist ul li a:hover {
    opacity: 1;
} 

header .nav-left .icon-nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

header .nav-left .icon-nav img {
    height: 20px;
    width: auto;
}

header .nav-left .nav-left-bottom .icon-nav .profile img {
    size: 2em;
}

header .nav-left .nav-left-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

header .nav-left .nav-left-bottom .icon-nav a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
}

header .nav-left .nav-left-bottom .icon-nav a:hover {
    opacity: 1;
} 





main {
    background-color: #141922;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

main .nav-main {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    background-color: black;
    right: 0;
    top: 0;
    opacity: 0.9;
    height: 80px;
    width: calc(100% - 200px);  
    padding-right: 30px;
    background-color: #080b12;
}

main .nav-main .btn-nav-main:hover {
    transform: scale(1.2);
    transition: all 0.4s;
} 

main .nav-main .btn-nav-main {
    padding: 10px 35px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border-color: white;
}

main .container-video {
    width: 100%;
}



main .container-video .video-category .category {
    padding-top: 100px;
    padding-bottom: 20px;
}

main .container-video .video-category ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 12px;
}

main .container-video .video-category ul li {
    white-space: nowrap;
}

main .container-video .video-category ul li a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
}

main .container-video .video-category ul li a:hover {
    opacity: 1;
} 


main .container-video .container-row {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}


main .container-video .container-row h2 {
    color: white;
}

main .container-video .container-row span {
    color: #6b6b6b;
}

main .container-video .video-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

main .container-video .video-row .card {
    display: flex;
    flex-direction: column;  
    width: calc(100% / 6 - (10px / 6 * 5));  
    margin-top: 30px;
}

main .container-video .video-row .card:hover {
    opacity: 0.6;
}

main .container-video .video-row .card .img-card img {
    width: 100%;
}

main .container-video .video-row .card .img-card {
    position: relative;
}

main .container-video .video-row .card .img-card .album-play {
    color: white;
    font-size: 3.5em;
    position: absolute;
    top: 35%;
    right: 35%;
    display: none;
    opacity: 1;
}

main .container-video .video-row .card:hover .album-play {
    display: block;
}

main .container-video .video-row .card .text-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

main .container-video .video-row .card .text-card h3{
    color: white;
}

main .container-video .video-row .card .text-card span {
    color: #6b6b6b;
}

main .container-video .video-row .artist img {
    border-radius: 50%;
}





footer {
    width: 100%;
    background-color: #282828;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1; 
}

footer .nav-footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    
}

footer .nav-footer .footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 120px;
    max-width: 200px;
    padding-left: 10px;
    color: white;
    width: 100%;
}

footer .nav-footer .footer-left .song a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
}

footer .nav-footer .footer-left .song a:hover {
    opacity: 1;
    text-decoration: underline;
} 


footer .nav-footer .footer-left .song span {
    color: #6b6b6b;
    font-size: 12px;
}

footer .nav-footer .footer-left img {
    height: 40px;
}

footer .nav-footer .footer-left a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
}

footer .nav-footer .footer-left a:hover {
    opacity: 1;
    text-decoration: underline;
} 

footer .nav-footer .footer-left .icons-footer-left {
    display: flex;
    gap: 10px;
}

footer .nav-footer .footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    flex-shrink: 1;
}

footer .nav-footer .footer-center .center-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.3em;
    color: white;
}

footer .nav-footer .footer-center .center-top .fa-circle-play {
    font-size: 1.6em;
}

footer .nav-footer .footer-center .center-top .fa-circle-play:hover {
    transform: scale(1.2);
}

footer .nav-footer .footer-center .center-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    width: 100%;
   
}

footer .nav-footer .footer-center .center-bottom .line-music {
    flex-grow: 1;
}

footer .nav-footer .footer-center .center-bottom .line-music .total-line {
    min-width: 150px;
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 2px;
}

footer .nav-footer .footer-center .center-bottom .line-music .total-line .line-current {
    width: 30%;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 2px;
}

footer .nav-footer .footer-center .center-bottom .line-music .total-line .line-current:hover {
    background-color: green;
}

footer .nav-footer .footer-right {
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 120px;
    max-width: 200px;
    color: white;
    width: 100%;
    
}

footer .nav-footer .footer-right .icon-footer-right {
    display: flex;
    gap: 10px;
}

footer .nav-footer .footer-right .footer-volume {
    flex-grow: 1;
}

footer .nav-footer .footer-right .footer-volume .line-music .total-line-music {
    max-width: 80px;
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 2px;
    width: 100%;
}

footer .nav-footer .footer-right .footer-volume .line-music .total-line-music .line-current-music {
    width: 30%;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 2px;
}

footer .nav-footer .footer-right .footer-volume .line-music .total-line-music .line-current-music:hover {
    background-color: green;
}






@media screen and (min-width: 991px) {
    header .nav-left .nav-left-top .logo .logo-s {
        display: none;
    }
}


@media screen and (max-width: 991px) {

    header .nav-left .nav-left-top .logo .logo-s {
        display: none; 
    }

    main .container-video .video-category ul li {
        width: calc(100% / 6);
    }

    main .container-video .video-row {
        display: flex;
        flex-wrap: wrap;    
    }

    main .container-video .video-row .card {
        
        width: calc(100% / 4 - (10px / 4 * 3)); 
    }
  
}


@media screen and (max-width: 767px) {

    header .nav-left .nav-left-top .logo .logo-s {
        display: none; 
    }

    main .container-video .video-category ul li {
        width: calc(100% / 4);
    }

    main .container-video .video-row {
        display: flex;
        flex-wrap: wrap;    
    }

    main .container-video .video-row .card {
        
        width: calc(100% / 2 - (10px / 2 * 1));  
    }

    footer .nav-footer .footer-left .icons-footer-left {
        flex-direction: column;
    }
}



@media screen and (max-width: 576px) {

    header .nav-left .nav-left-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 1.3em;
    }

    header .nav-left .nav-left-top .logo .logo-l {
        display: none; 
    }

    header .nav-left .nav-left-top .logo .logo-s {
        display: block;
        height: 25px;
        width: auto;
    }

    header .nav-left {
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;

    }

    header .nav-left .nav-left-top .links {
        display: none;
    }

    header .nav-left .nav-left-top .text {
        display: none;
    }

    header .nav-left .nav-left-bottom .text {
        display: none;

    }

    header .nav-left .nav-left-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.3em;
    }

    header .nav-left .nav-left-bottom hr {
        display: none;
        
    }



    main .nav-main {
        width: calc(100% - 50px);
    }

    main .container-video .video-category ul li {
        width: calc(100% / 5);
    }

    main .container-video .video-row {
        display: flex;
        flex-wrap: wrap;    
    }

    main .container-video .video-row .card {
        
        width: calc(100% / 2 - (10px / 2 * 1));  
    }



    footer .nav-footer .footer-center .center-top {
        gap: 25px;
        font-weight: 300;

    }



}