* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-viewport {
    width: 100vw;
    height: 100vh;
    background-color: brown;
}

.central-section {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
    width: 100%
    
}




header {
   display: flex;
   background-color: red;
}

header .nav-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

header .nav-left .nav-left-top .logo img {
    height: 50px;
}

header .nav-left .nav-left-top .home {
    display: flex;
    gap: 8px;
}

header .nav-left .nav-left-top .cerca {
    display: flex;
    gap: 8px;
}

header .nav-left .nav-left-top .libreria {
    display: flex;
    gap: 8px;
}

header .nav-left .nav-left-top .links ul li {
    list-style-type: none;
}

header .nav-left .icon-nav {
    display: flex;
    gap: 8px;
}






main {
    background-color: aqua;
    height: 100%;
    width: 100%;
}

main .nav-main {
    text-align: end;
    background-color: black;
    opacity: 0.5;
    height: 90px;
}

main .container-video {
    width: 100%;
}



main .container-video .video-category .category {
    padding-top: 20px;
    padding-bottom: 20px;
}

main .container-video .video-category ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 20px;
}

main .container-video .video-category ul li {
    white-space: nowrap;
}



main .container-video .video-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    
    width: 100%;
    
}

main .container-video .video-row .card {
    display: flex;
    
    width: calc(100% / 6);

    
    background-color: brown;
}

main .container-video .container-row {
    padding-left: 20px;
}







footer {
    width: 100%;
    background-color: blue;
    
    
}

footer .nav-footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    
}

footer .nav-footer .footer-left {
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 150px;
    max-width: 230px;
}

footer .nav-footer .footer-left .icons-footer-left {
    display: flex;
    gap: 10px;
}

footer .nav-footer .footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-width: 200px;
}

footer .nav-footer .footer-center .center-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .nav-footer .footer-center .center-bottom {
    display: flex;
    gap: 10px;
}

footer .nav-footer .footer-center .center-bottom .line-music {
    width: 80%;
    height: 4px;
    background-color: brown;
}

footer .nav-footer .footer-right {
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 150px;
    max-width: 230px;
}




@media screen and (min-width: 991px) {

    header .nav-left .nav-left-top .logo .logo-s {
        display: none; 
    }

    main .container-video .video-category ul li {
        width: calc(100% / 6);
    }

    main .container-video .video-row {
        display: flex;
        flex-wrap: wrap;    
    }

    main .container-video .video-row .card {
        
        width: calc(100% / 5);  
    }
  
}


@media screen and (min-width: 767px) {

    header .nav-left .nav-left-top .logo .logo-s {
        display: none; 
    }

    main .container-video .video-category ul li {
        width: calc(100% / 4);
    }

    main .container-video .video-row .card {
        
        width: calc(100% / 3);  
    }

    footer .nav-footer .footer-left .icons-footer-left {
        flex-direction: column;
    }
}


@media screen and (max-width: 576px) {

    header .nav-left .nav-left-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 1.3em;
    }

    header .nav-left .nav-left-top .logo .logo-l {
        display: none; 
    }

    header .nav-left .nav-left-top .logo .logo-s {
        height: 100%;
        width: auto;
    }

    header .nav-left {
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;

    }

    header .nav-left .nav-left-top .links {
        display: none;
    }

    header .nav-left .nav-left-top .text {
        display: none;
    }

    header .nav-left .nav-left-bottom .text {
        display: none;

    }



}